<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreamBox</title>
    <link rel="icon" type="image/png" href="../images/play.png">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body, html {
            overflow: hidden;
        }
      </style>
</head>
<body>
    <section class="wrapper" style="padding-top: 150px; padding-bottom: 250px;">
        <div class="container">
            <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div id="myToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-body" id="toast-body">
                        </div>
                    </div>
                </div>
                <div class="logo">
                    <img src="../images/play.png" class="img-fluid" alt="logo">
                    <h3>StreamBox</h3>
                </div><br>
                <form class="rounded bg-white shadow p-5">
                    <h3 class="text-dark fw-bolder fs-4 mb-2">Two step verification</h3>
                    <div style="color: grey;">Enter the verification code we sent to your email</div><br>
                    <div class="otp_input text-start mb-2">
                        <label for="digit">Type your 6 digit security code
                        </label>
                        <div class="d-flex align-items-center justify-content-between mt-2">
                            <input type="text" name="d1" maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="form-control border border-primary otpInput" placeholder="" autofocus>
                            <input type="text" name="d2" maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="form-control border border-primary otpInput" placeholder="" >
                            <input type="text" name="d3" maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="form-control border border-primary otpInput" placeholder="" >
                            <input type="text" name="d4" maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="form-control border border-primary otpInput" placeholder="" >
                            <input type="text" name="d5" maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="form-control border border-primary otpInput" placeholder="" >
                            <input type="text" name="d6" maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="form-control border border-primary otpInput" placeholder="" >
                        </div>
                    </div>
                    <div>
                    <button type="button" class="btn btn-primary submit_btn my-4" id="otp-submit" onclick="validateOTP()">Submit</button>
                    </div>
                    <!-- Didn't get the code?
                    <a href="#" target="_blank" class="text-primary fw-bold text-decoration-none">Resend</a> -->
                    
                </form>
                
            </div>
        </div>
    </section>
    <script src="../js/otp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>