*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 1000;
}

body {
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}
body > h1 {
  margin: 1.5rem 0;
  font-family: Helvetica, sans-serif;
  color: #333;
}




/* .player {
  width: 95%;
  max-width: 750px;
  position: relative;
  font-size: 0;
  overflow: hidden;
} */
.video-container {
  width: 100%;
}
.controls__btn {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
}
.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}
.controls > * {
  flex: 1;
}
.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  /* background: rgba(0,0,0,0.5); */
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  height: 15px;
}
.progress__filled {
  width: 50%;
  background: #AA5500;
  flex: 0;
  flex-basis: 0%;
}


.heart-btn, .clock-btn, .line-btn, .chat-btn, .like-btn, .dislike-btn {
  /* Adjust size as needed */
  color: gray;
   cursor: pointer; /* Add pointer cursor */
 }
 .like-btn.clicked {
     
  color: blue; /* Color when clicked */
}

.selected {
     
  color: blue; /* Color when clicked */
}

.dislike-btn.clicked {
     
  color: blue; /* Color when clicked */
}

 .clock-btn.clicked {
   color: blue; /* Color when clicked */
 }
 
 .chat-btn.clicked {
   color: lightblue; /* Color when clicked */
 }

 #chatContent  {
  /* max-width: 750px; */
  position: relative;
  overflow: hidden;
  text-align: justify;
  align-items: center;
  /* float: left; */
  padding-left: 800px;
}
#cmtContainer{
  /* justify-content: center; */
  padding-left: 40%;
  padding-right: 6%;
}

#cmtId{
     margin-bottom: 20px;
}
 
#cmtId button{
    border-radius: 25px;
    float: right;
}

#analyticsContent {
  position: relative;
  overflow: hidden;
  text-align: justify;

  padding-left: 870px;
}

input{
  border-top: none;
  border-left: none;
  border-right: none;
}

.btn1 button{
  padding: 5px 15px;
  background-color: transparent;
  text-align: center;
}

footer {
  padding-bottom: 150px;
  padding-top: 150px;
  background-size: cover; /* or 'contain', depending on your preference */
  background-repeat: no-repeat;
  background-position: center center;
  /* You can also specify other styles such as height, padding, etc. */
}